:not(#a):not(#b):not(#c) {
  a + {
    .utags_ul_0 {
      /* right-center */
      object-position: 100% 50%;
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-5);
      --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-5);
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }
    .utags_ul_1 {
      /* left-bottom */
      object-position: 0% 200%;
    }
  }
}
