:not(#a):not(#b):not(#c) {
  [data-utags_node_type="notag_relative"] + .utags_ul.notag .utags_captain_tag {
    position: relative !important;
    width: 14px !important;
    height: 14px !important;
    padding: 1px 0 0 1px !important;
    /* opacity: 100%; */
  }
}
