:not(#a):not(#b):not(#c) {
  /* repo title in https://github.com/username/reponame */
  a[href^="/@"][data-utags] + {
    .utags_ul_0 {
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-4);
      --utags-notag-ul-height: var(--utags-notag-ul-height-4);
      --utags-notag-ul-position: var(--utags-notag-ul-position-4);
      --utags-notag-ul-top: var(--utags-notag-ul-top-4);
      --utags-notag-captain-tag-top: -22px;
      --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-4);
    }
  }
}
