:not(#a):not(#b):not(#c) {
  /* default */
  a[data-utags_position] + {
    .utags_ul_0 {
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: 2px;
      --utags-notag-captain-tag-left: 22px;
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }
  }

  h1 + ul.utags_ul {
    margin-bottom: 16px !important;
    display: inline-flex !important;
  }
}
