:not(#a):not(#b):not(#c) {
  /* default */
  a + {
    .utags_ul_0 {
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: 2px;
      --utags-notag-captain-tag-left: 22px;
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }
  }

  /* topic list page */
  .topic-list {
    --utags-list-node-display: table-row;

    .main-link a.title + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: -18px;
      }

      .utags_ul_1 {
        margin-bottom: 2px !important;
      }
    }
    .discourse-tag + {
      .utags_ul_1 {
        margin-top: 3px !important;
      }
    }
    .posters a:first-of-type + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: 22px;
        --utags-notag-captain-tag-left: 0px;
      }

      .utags_ul_1 {
        position: absolute;
        top: -9999px;
        z-index: 100;
        margin-top: 16px !important;
        margin-left: 3px !important;
      }
    }
  }

  /* topoic detail page header */
  header {
    .header-title a.topic-link + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: -12px;
      }

      .utags_ul_1 {
        position: absolute;
        top: -9999px;
        z-index: 100;
        margin-bottom: 4px !important;
      }
    }
    /* title use `dispaly: inline` at linux.do */
    .header-title a.topic-link[data-utags_flag="1"] + {
      .utags_ul_1 {
        position: unset;
        margin-bottom: 4px !important;
      }
    }
    .badge-category__wrapper + {
      .utags_ul_1 {
        margin-top: 2px !important;
      }
    }
  }

  /* topoic detail page content */
  #topic-title {
    a.fancy-title + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: -18px;
      }

      .utags_ul_1 {
        margin-bottom: 6px !important;
      }
    }
    .discourse-tag + {
      .utags_ul_1 {
        margin-top: 4px !important;
      }
    }
  }

  .topic-body .names a + {
    .utags_ul_1 {
      position: absolute;
      top: -9999px;
      z-index: 100;
      margin-top: 12px !important;
    }
  }

  /* https://discourse.org/categories */
  .column .category-list .category-title-link + {
    .utags_ul_1 {
      position: absolute;
      top: -9999px;
      z-index: 100;
      margin-top: 14px !important;
    }
  }
  .column .latest-topic-list {
    .main-link {
      .title + {
        .utags_ul_0 {
          --utags-notag-captain-tag-top: -18px;
        }

        .utags_ul_1 {
          margin-bottom: 2px !important;
        }
      }
      .badge-category__wrapper + {
        .utags_ul_1 {
          padding-top: 3px !important;
        }
      }
      .discourse-tag + {
        .utags_ul_1 {
          margin-top: 4px !important;
        }
      }
    }

    .topic-poster a + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: 12px;
        --utags-notag-captain-tag-left: 10px;
      }
      .utags_ul_1 {
        position: absolute;
        top: -9999px;
        margin-top: 32px !important;
        margin-left: 0px !important;
      }
    }
  }
  /* https://discourse.org/search?q= */
  .search-container {
    --utags-list-node-display: flex;
    .search-link + {
      .utags_ul_1 {
        position: absolute;
        top: -9999px;
        margin-top: -14px !important;
      }
    }

    .search-results .author a + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: 35px;
        --utags-notag-captain-tag-left: 11px;
      }
      .utags_ul_1 {
        position: absolute;
        top: -9999px;
        margin-top: 30px !important;
      }
    }
  }

  /* https://linux.do/u/nickname/activity/bookmarks */
  .bookmark-list tr a.avatar + {
    .utags_ul_0 {
      --utags-notag-captain-tag-top: 26px;
      --utags-notag-captain-tag-left: 0px;
    }
    .utags_ul_1 {
      position: absolute;
      top: -9999px;
      margin-top: 24px !important;
      margin-left: 4px !important;
    }
  }

  /* https://linux.do/u/nickname/activity/reactions */
  .user-content .user-stream-item__header a.avatar-link + {
    .utags_ul_1 {
      position: absolute;
      top: -9999px;
      margin-top: 16px !important;
      margin-left: 0px !important;
    }
  }

  .search-menu .results {
    position: relative;
  }
}
