:not(#a):not(#b):not(#c) {
  /* default */
  a + {
    .utags_ul_0 {
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-5);
      --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-5);
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }
    .utags_ul_1 {
      background-color: var(--utags-captain-tag-background-color) !important;
      border-radius: 3px !important;
      --utags-emoji-tag-background-color: #fff0;
    }
  }

  .n_worklist,
  .recommend_list {
    a.work_name +,
    .work_name a + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: -16px;
      }
      .utags_ul_1 {
        position: absolute;
        top: -9999px;
        z-index: 100;
        margin-top: -12px !important;
        margin-left: 3px !important;
      }
    }
    .maker_name a + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: 16px;
      }
      .utags_ul_1 {
        position: absolute;
        top: -9999px;
        z-index: 100;
        margin-top: 13px !important;
        margin-left: -2px !important;
      }
    }
  }

  .genre_ranking {
    .work_name {
      margin-top: 18px;
      a + {
        .utags_ul_0 {
          --utags-notag-captain-tag-top: -12px;
        }
        .utags_ul_1 {
          position: absolute;
          top: -9999px;
          z-index: 100;
          margin-top: -14px !important;
          margin-left: 3px !important;
        }
      }
    }
    .maker_name {
      margin-bottom: 18px;
      a + {
        .utags_ul_1 {
          position: absolute;
          top: -9999px;
          z-index: 100;
          margin-top: 12px !important;
          margin-left: -2px !important;
          /*
          overflow: hidden;
          width: 18px;
          height: 14px;

          &:hover {
            overflow: unset;
            width: unset;
            height: unset;
          }
          */
        }
      }
    }
  }
}
