:not(#a):not(#b):not(#c) {
  /* user name */
  a + {
    .utags_ul_0 {
      /* right-center */
      object-position: 200% 50%;
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-5);
      --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-5);
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }

    .utags_ul_1 {
      /* left-bottom */
      object-position: 0% 200%;
    }
  }

  table {
    --utags-list-node-display: table-row-group;
  }

  .favatar .authi a + {
    .utags_ul_1 {
      position: absolute;
      top: -9999px;
      z-index: 100;
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
  }

  #portal_block_52 {
    a {
      &[data-utags_fit_content="1"] {
        max-width: fit-content !important;
      }

      + .utags_ul_1 {
        object-position: 0% 200%;
        position: absolute;
        top: -9999px;
        z-index: 100;
        margin-top: -8px !important;
      }
    }
  }

  .comiis_irbox a + {
    .utags_ul_0 {
      /* right-center */
      object-position: 100% 0%;
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-5);
      --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-5);
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }

    .utags_ul_1 {
      object-position: 0% 0%;
      position: absolute;
      top: -9999px;
      z-index: 100;
      margin-top: 18px !important;
      margin-left: 0px !important;
    }
  }
}
