#TOFIX_uFEFF {
  display: block;
}

:not(#a):not(#b):not(#c) {
  /* default */
  a + {
    .utags_ul_0 {
      /* right-center */
      object-position: 200% 50%;
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-5);
      --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-5);
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }
    .utags_ul_1 {
      /* left-bottom */
      object-position: 0% 200%;
    }
  }

  /* 评论区用户名 */
  shreddit-comment [slot="commentMeta"] {
    position: relative;
  }

  /* 用户悬浮窗卡片 */
  [data-testid="user-hover-card"] {
    position: relative;
  }

  div[slot="content"] {
    position: relative;
  }

  div[slot="comment"] {
    position: relative;
  }

  /* List page */
  article:hover a[slot="title"] +,
  [slot="post-media-container"]:hover a + {
    .utags_ul .utags_captain_tag {
      opacity: 100%;
      width: calc(var(--utags-captain-tag-size) + 8px) !important;
      height: calc(var(--utags-captain-tag-size) + 8px) !important;
      padding: 5px 4px 4px 5px !important;
      transition: all 0s 0.1s !important;
      z-index: 0;
    }
  }

  /* List page */
  article a[slot="title"],
  /* Recent Posts */
  recent-posts a {
    /* Fix title can't hover */
    position: relative;

    &[data-utags_fit_content="1"] {
      min-width: unset !important;
      width: fit-content !important;

      *:not(svg) {
        width: fit-content !important;
      }
    }

    & + {
      .utags_ul_0 {
        /* right-center */
        object-position: 100% 50%;
      }
      .utags_ul_1 {
        /* left-bottom */
        object-position: 0% 200%;
        position: absolute;
        top: -9999px;
        margin-top: -4px !important;
        margin-left: 0px !important;
      }
    }
  }

  /* Comments page */
  h1[slot="title"] {
    &[data-utags_fit_content="1"] {
      min-width: unset !important;
      width: fit-content !important;

      *:not(svg) {
        width: fit-content !important;
      }
    }

    & + {
      .utags_ul_0 {
        /* right-center */
        object-position: 200% 50%;
        --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
        --utags-notag-ul-height: var(--utags-notag-ul-height-5);
        --utags-notag-ul-position: var(--utags-notag-ul-position-5);
        --utags-notag-ul-top: var(--utags-notag-ul-top-5);
        --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-5);
        --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-5);
        --utags-captain-tag-background-color: var(
          --utags-captain-tag-background-color-overlap
        );
      }

      .utags_ul_1 {
        object-position: 0% 200%;
        position: absolute;
        top: -9999px;
        margin-top: 0px !important;
        margin-left: 0px !important;
      }
    }
  }

  /* Comments prevent from hide */
  shreddit-comment[data-utags_list_node*=",hide,"],
  shreddit-comment[data-utags_list_node*=",隐藏,"],
  shreddit-comment[data-utags_list_node*=",屏蔽,"],
  shreddit-comment[data-utags_list_node*=",不再显示,"],
  shreddit-comment[data-utags_list_node*=",block,"] {
    opacity: 1%;
    display: block !important;
  }
}
