:not(#a):not(#b):not(#c) {
  .w-screen ul {
    --utags-list-node-display: flex;

    /* 百度，百度贴吧 */
    .flex-1:not(.relative) >,
    /* 宽带山 */
    .flex.flex-col.relative .flex-1,
    /* 豆瓣社区，百度 > 热梗/小说等 */
    .relative > {
      .utags_ul_0 {
        --utags-notag-ul-disply: var(--utags-notag-ul-disply-3);
        --utags-notag-ul-height: var(--utags-notag-ul-height-3);
        --utags-notag-ul-position: var(--utags-notag-ul-position-3);
        --utags-notag-ul-top: var(--utags-notag-ul-top-3);
        --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-3);
        --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-3);
        --utags-captain-tag-background-color: var(
          --utags-captain-tag-background-color-overlap
        );
      }
    }

    /* 宽带山 */
    .flex.flex-col.relative .flex-1,
    /* 百度，百度贴吧 */
    .flex-1:not(.relative) > {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: 18px;
      }
    }

    /* V2EX */
    .text-base .block +,
    /* GitHub */
    h1,
    /* 技术期刊 */
    li > div.overflow-hidden:nth-of-type(2):not(.relative) > a +,
    /* 微博 */
    li > a + {
      .utags_ul_0 {
        --utags-notag-ul-disply: var(--utags-notag-ul-disply-2);
        --utags-notag-ul-height: var(--utags-notag-ul-height-2);
        --utags-notag-ul-position: var(--utags-notag-ul-position-2);
        --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-2);
        --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-2);
        --utags-captain-tag-background-color: var(
          --utags-captain-tag-background-color-overlap
        );
      }
    }

    /* V2EX */
    .text-base .block + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: -24px;
      }
    }

    /* GitHub */
    h1 {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: -28px;
      }
    }

    /* 微博 */
    li > a + {
      .utags_ul_0 {
        --utags-notag-captain-tag-left: 26px;
      }
    }

    /* 雪球，东方财富, 开发者头条 */
    .flex.flex-col .text-base +,
    /* 新浪财经 */
    li > a.text-base + {
      .utags_ul_0 {
        --utags-notag-ul-disply: var(--utags-notag-ul-disply-4);
        --utags-notag-ul-height: var(--utags-notag-ul-height-4);
        --utags-notag-ul-position: var(--utags-notag-ul-position-4);
        --utags-notag-ul-top: var(--utags-notag-ul-top-4);
        --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-4);
        --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-4);
        --utags-captain-tag-background-color: var(
          --utags-captain-tag-background-color-overlap
        );
      }
    }

    /* 新浪财经 */
    li > a.text-base + {
      .utags_ul_0 {
        --utags-notag-captain-tag-top: -10px;
        --utags-notag-captain-tag-left: 14px;
      }
    }

    /* 豆瓣社区 > 来自 */
    .truncate {
      .utags_ul_0 {
        --utags-notag-captain-tag-left: -22px;
      }
    }
  }

  aside {
    --utags-list-node-display: flex;

    .select-none {
      .utags_ul_0 {
        --utags-notag-captain-tag-left: -22px;
      }

      .arco-tag {
        .utags_ul_0 {
          --utags-notag-captain-tag-left: -6px;
        }
      }
    }
  }

  #markdown-body.markdown-body {
    a + {
      .utags_ul_0 {
        --utags-notag-ul-disply: var(--utags-notag-ul-disply-1);
        --utags-notag-ul-height: var(--utags-notag-ul-height-1);
        --utags-notag-ul-width: var(--utags-notag-ul-width-1);
        --utags-notag-ul-position: var(--utags-notag-ul-position-1);
        --utags-notag-ul-top: var(--utags-notag-ul-top-1);
        --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-1);
        --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-1);
      }
    }
  }
}
