#TOFIX_uFEFF {
  display: block;
}

:not(#utags_should_has_higher_specificity):not(
    #utags_should_has_higher_specificity
  ) {
  /* fix mp.weixin.qq.com issue */
  [data-utags_key] {
    display: none !important;
  }

  .utags_ul {
    box-sizing: border-box !important;
    display: inline-flex !important;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    white-space: normal;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: text-bottom !important;
    line-height: normal !important;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    width: max-content !important;

    > li {
      box-sizing: border-box !important;
      display: inline-flex !important;
      align-items: center !important;
      float: none !important;
      overflow: visible;
      width: unset !important;
      height: unset !important;
      border: none !important;
      padding: 0 !important;
      margin: 0 !important;

      &:first-child .utags_text_tag {
        margin-left: 3px !important;
      }
      &:last-child .utags_text_tag {
        margin-right: 3px !important;
      }

      &::before,
      &::after {
        content: none;
      }
    }

    .utags_text_tag {
      box-sizing: border-box !important;
      display: block !important;
      border: var(--utags-text-tag-border-width) solid
        var(--utags-text-tag-border-color);
      color: var(--utags-text-tag-color) !important;
      border-radius: 3px !important;
      padding: 1px 3px !important;
      margin: 0 1px !important;
      font-size: var(--utags-text-tag-font-size) !important;
      font-family: var(--utags-text-tag-font-family) !important;
      letter-spacing: 0 !important;
      line-height: 1 !important;
      height: unset !important;
      width: unset !important;
      font-weight: normal !important;
      text-decoration: none !important;
      text-align: center !important;
      text-shadow: none !important;
      min-width: unset !important;
      min-height: unset !important;
      max-width: unset !important;
      max-height: unset !important;
      background: unset !important;
      background-color: var(--utags-text-tag-background-color) !important;
      z-index: 0;
      /* Fix v2ex polish start */
      pointer-events: auto;
      /* Fix v2ex polish end */

      &:link {
        cursor: pointer;
      }
    }

    .utags_text_tag[data-utags_tag]::before {
      content: attr(data-utags_tag);
      display: block;
      font-size: var(--utags-text-tag-font-size);
      line-height: 1;
      height: unset;
      width: unset;
      border-radius: unset;
      border: unset;
      background: unset;
      margin: unset;
      padding: unset;
    }

    .utags_emoji_tag {
      --utags-text-tag-background-color: var(
        --utags-emoji-tag-background-color
      );
      --utags-text-tag-font-size: var(--utags-emoji-tag-font-size);
      --utags-text-tag-font-family: var(--utags-emoji-tag-font-family);
      --utags-text-tag-border-width: var(--utags-emoji-tag-border-width);
      --utags-text-tag-border-color: var(--utags-emoji-tag-border-color);
    }

    .utags_captain_tag,
    .utags_captain_tag2 {
      width: var(--utags-captain-tag-size) !important;
      height: var(--utags-captain-tag-size) !important;
      padding: 1px 0 0 1px !important;
      background: none !important;
      color: var(--utags-captain-tag-color) !important;
      border: none !important;

      &::before {
        content: none !important;
      }

      svg {
        fill: currentColor !important;
        vertical-align: -3px;
      }

      * {
        color: inherit !important;
        fill: currentColor !important;
        width: unset;
        height: unset;
      }
    }

    .utags_captain_tag {
      opacity: 1%;
      position: absolute;
      top: var(--utags-notag-captain-tag-top, 0);
      left: var(--utags-notag-captain-tag-left, 0);
      padding: 0 !important;
      margin: 0 !important;
      width: 4px !important;
      height: 4px !important;
      font-size: 1px !important;
      background-color: var(--utags-captain-tag-background-color) !important;
      transition: all 0s 0.3s !important;
    }

    .utags_captain_tag:hover,
    .utags_captain_tag:focus,
    .utags_captain_tag2:hover,
    .utags_captain_tag2:focus {
      color: var(--utags-captain-tag-hover-color) !important;
    }

    &.utags_ul_0 {
      margin: 0 !important;
      display: var(--utags-notag-ul-disply, inline) !important;
      float: var(--utags-notag-ul-float, none);
      height: var(--utags-notag-ul-height, unset);
      width: var(--utags-notag-ul-width, unset) !important;
      position: var(--utags-notag-ul-position, unset);
      top: var(--utags-notag-ul-top, unset);

      > li {
        position: relative !important;
        height: var(--utags-captain-tag-size) !important;
      }
    }
  }

  .utags_captain_tag:focus,
  *:hover + .utags_ul .utags_captain_tag,
  .utags_ul:hover .utags_captain_tag,
  .utags_show_all .utags_captain_tag,
  :not(a):not([data-utags_node_type="link"]) + .utags_ul .utags_captain_tag {
    opacity: 100%;
    width: calc(var(--utags-captain-tag-size) + 8px) !important;
    height: calc(var(--utags-captain-tag-size) + 8px) !important;
    padding: 5px 4px 4px 5px !important;
    transition: all 0s 0.1s !important;
    /* Fix v2ex 超级增强 start */
    z-index: 90;
    /* Fix v2ex 超级增强 end */
  }

  .utags_hide_all .utags_captain_tag,
  .utags_show_all .utags_captain_tag {
    transition: unset !important;
  }

  :not(a):not([data-utags_node_type="link"]) + .utags_ul .utags_captain_tag {
    position: relative;
  }

  .utags_ul_notag_float_left .utags_ul_0,
  .utags_ul_0.utags_ul_notag_float_left {
    float: left;
  }

  .utags_modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: 200000;

    .utags_modal_wrapper {
      position: fixed;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      inset: 0px;
      padding: 14vh 16px 16px;
      background-color: rgba(255, 255, 255, 0.1);
      z-index: 200000;
    }

    .utags_modal_content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-width: 600px;
      max-height: 100%;
      overflow: auto;
      color: #000000;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 14px;
      -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
      -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
      box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    }

    .utags_title {
      display: block;
      color: #000000;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .utags_buttons_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding: 10px 0 10px 0;

      button {
        font-size: 14px;
        height: 32px;
        min-width: 80px;
        font-weight: 600;
        padding: 0 8px;
        border-radius: 2px;
        color: var(--utags-button-text-color);
        border: 1px solid var(--utags-button-border-color);
        background-color: var(--utags-button-bg-color);
        text-shadow: none;
        text-align: center;
        font-family: revert;

        &:hover {
          background-color: var(--utags-button-hover-bg-color);
          border-color: var(--utags-button-hover-border-color);
        }

        &:not(:first-child) {
          margin-left: 10px;
        }

        &.utags_primary {
          --utags-button-text-color: var(--utags-action-button-text-color);
          --utags-button-bg-color: var(--utags-action-button-bg-color);
          --utags-button-border-color: var(--utags-action-button-border-color);
          --utags-button-hover-bg-color: var(
            --utags-action-button-hover-bg-color
          );
          --utags-button-hover-border-color: var(
            --utags-action-button-hover-border-color
          );
        }
      }
    }

    .utags_prompt {
      input {
        -webkit-appearance: none;
        background-color: var(--utags-button-hover-bg-color);
        border: none;
        border-bottom: 2px solid var(--utags-button-hover-bg-color);
        border-radius: 4px;
        box-sizing: border-box;
        caret-color: var(--cr-input-focus-color);
        color: var(--cr-input-color);
        font-family: var(--utags-text-tag-font-family) !important;
        font-weight: inherit;
        line-height: inherit;
        min-height: var(--cr-input-min-height, auto);
        outline: 0;
        padding-bottom: var(--cr-input-padding-bottom, 6px);
        padding-inline-end: var(--cr-input-padding-end, 8px);
        padding-inline-start: var(--cr-input-padding-start, 8px);
        padding-top: var(--cr-input-padding-top, 6px);
        text-align: left;
        text-overflow: ellipsis;
        width: 100%;
        margin: 0;
        font-size: 12px;

        &:focus,
        &:focus-visible {
          outline: 0;
          border-bottom: 2px solid var(--utags-action-button-hover-border-color);
        }
      }
    }
  }

  .utags_current_tags_wrapper {
    display: flex;
    justify-content: space-between;

    .utags_button_copy {
      cursor: pointer;
      font-size: 10px;
      line-height: 1;
      height: 18px;
      padding: 0 6px;
      border-radius: 2px;
      color: var(--utags-action-button-text-color);
      background-color: var(--utags-action-button-bg-color);
      border: 1px solid var(--utags-action-button-border-color);
      text-shadow: none;
      text-align: center;
      font-family: revert;
    }
  }

  ul.utags_current_tags {
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px 0 !important;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;

    &:empty,
    &:empty + button {
      display: none !important;
    }

    li .utags_text_tag:hover {
      --utags-text-tag-color: #000;
      --utags-text-tag-border-color: #000;
      --utags-text-tag-background-color: unset;
      opacity: 0.5;
      text-decoration: line-through !important;
    }
  }

  .utags_list_wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    overflow-y: auto;
  }

  ul.utags_select_list {
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;

    &:empty {
      display: none !important;
    }

    &:not(:first-child) {
      margin-left: 4px;
    }

    &::before {
      content: attr(data-utags_list_name);
      position: sticky;
      top: 0;
      display: block;
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      padding: 0 2px 0 8px;
      cursor: default;
      background-color: #f8fafe;
    }

    li {
      box-sizing: border-box;
      cursor: pointer;
      font-size: 12px;
      height: 16px;
      display: flex;
      align-items: center;
      padding: 0 2px 0 8px;
      margin: 0;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;

      &.utags_active,
      &.utags_active2 {
        background-color: #fef2f2;
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: var(--utags-text-tag-font-family) !important;
        font-size: 12px;
        line-height: 1;
      }
    }
  }

  [data-utags_list_node*=",标题党,"],
  [data-utags_list_node*=",推广,"],
  [data-utags_list_node*=",无聊,"],
  [data-utags_list_node*=",忽略,"],
  [data-utags_list_node*=",ignore,"],
  [data-utags_list_node*=",clickbait,"],
  [data-utags_list_node*=",promotion,"],
  [data-utags_list_node*=",sb,"] {
    opacity: 10%;
  }

  [data-utags_list_node*=",已阅,"],
  [data-utags_list_node*=",已读,"],
  [data-utags_list_node*=",新用户,"] {
    opacity: 50%;
  }

  [data-utags_list_node*=",hide,"],
  [data-utags_list_node*=",隐藏,"],
  [data-utags_list_node*=",屏蔽,"],
  [data-utags_list_node*=",不再显示,"],
  [data-utags_list_node*=",block,"] {
    opacity: 5%;
    display: none;
  }

  [data-utags_list_node*=",热门,"],
  [data-utags_list_node*=",收藏,"],
  [data-utags_list_node*=",重要,"],
  [data-utags_list_node*=",关注,"],
  [data-utags_list_node*=",稍后阅读,"] {
    background-image: linear-gradient(to right, #ffffff00, #fefce8) !important;
    opacity: 100% !important;
    display: var(--utags-list-node-display) !important;
  }

  [data-utags_list_node*=",热门,"],
  [data-utags_list_node*=",收藏,"],
  [data-utags_list_node*=",重要,"],
  [data-utags_list_node*=",关注,"] {
    background-image: linear-gradient(to right, #ffffff00, #fef2f2) !important;
  }

  [data-utags_list_node]:hover {
    opacity: 100% !important;
  }

  /* For debugging */
  [data-utags_other="1"] + ul.utags_ul {
    .utags_captain_tag,
    .utags_captain_tag2 {
      color: yellow !important;
    }
  }
}

.utags_no_hide [data-utags_list_node*=","] {
  display: var(--utags-list-node-display) !important;
}

.utags_no_opacity_effect [data-utags_list_node*=","] {
  opacity: 100% !important;
}

textarea[data-key="emojiTags"] {
  font-family: var(--utags-text-tag-font-family);
}

:root {
  --utags-list-node-display: block;
  --utags-captain-tag-background-color: #ffffffb3;
  --utags-captain-tag-background-color-overlap: #ffffffdd;
  --utags-captain-tag-color: #ff6361;
  --utags-captain-tag-hover-color: #256cf1;
  --utags-captain-tag-size: 14px;
  --utags-text-tag-color: red;
  --utags-text-tag-border-color: red;
  --utags-text-tag-background-color: unset;
  --utags-text-tag-font-size: 10px;
  --utags-text-tag-border-width: 1px;
  --utags-text-tag-font-family: "helvetica neue", "Helvetica", "microsoft yahei",
    "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "noto color emoji", "android emoji", "emojisymbols",
    "emojione mozilla", "twemoji mozilla", "Segoe UI", "Noto Sans";
  --utags-emoji-tag-border-color: #fff0;
  --utags-emoji-tag-background-color: #fff0;
  /* --utags-emoji-tag-background-color: #f8fafe; */
  --utags-emoji-tag-font-size: 12px;
  --utags-emoji-tag-border-width: 0;
  --utags-emoji-tag-font-family: "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "noto color emoji", "android emoji", "emojisymbols",
    "emojione mozilla", "twemoji mozilla", "Segoe UI", "Noto Sans";
  --utags-button-text-color: #1a73e8;
  --utags-button-bg-color: #ffffff;
  --utags-button-border-color: #dadce0;
  --utags-button-hover-bg-color: #4285f40a;
  --utags-button-hover-border-color: #d2e3fc;
  --utags-action-button-text-color: #ffffff;
  --utags-action-button-bg-color: #1a73e8;
  --utags-action-button-border-color: #1a73e8;
  --utags-action-button-hover-bg-color: #1a73e8e6;
  --utags-action-button-hover-border-color: #1a73e8e6;

  --utags-notag-ul-disply-1: inline;
  --utags-notag-ul-float-1: none;
  --utags-notag-ul-height-1: unset;
  --utags-notag-ul-width-1: unset;
  --utags-notag-ul-position-1: unset;
  --utags-notag-ul-top-1: unset;
  --utags-notag-captain-tag-top-1: 0;
  --utags-notag-captain-tag-left-1: 0;

  /* If anchor element has display: block
     or parent element of anchor element has flex-direction: column */
  --utags-notag-ul-disply-2: block;
  --utags-notag-ul-height-2: 0;
  --utags-notag-ul-width-2: 0;
  --utags-notag-ul-position-2: unset;
  --utags-notag-ul-top-2: unset;
  --utags-notag-captain-tag-top-2: -22px;
  --utags-notag-captain-tag-left-2: -4px;

  /* If parent element of anchor element has position: relative,
     and anchor element is multi-line */
  --utags-notag-ul-disply-3: block;
  --utags-notag-ul-height-3: 0;
  --utags-notag-ul-width-3: 0;
  --utags-notag-ul-position-3: absolute;
  --utags-notag-ul-top-3: 0;
  --utags-notag-captain-tag-top-3: 0;
  --utags-notag-captain-tag-left-3: -4px;

  /* If parent element of anchor element don't has position: relative,
     and anchor element is multi-line */
  --utags-notag-ul-disply-4: block;
  --utags-notag-ul-height-4: 0;
  --utags-notag-ul-width-4: 0;
  --utags-notag-ul-position-4: absolute;
  --utags-notag-ul-top-4: unset;
  --utags-notag-captain-tag-top-4: 0;
  --utags-notag-captain-tag-left-4: -4px;

  /* Dynamic position */
  --utags-notag-ul-disply-5: block;
  --utags-notag-ul-height-5: 0;
  --utags-notag-ul-width-5: 0;
  --utags-notag-ul-position-5: absolute;
  --utags-notag-ul-top-5: -9999px;
  --utags-notag-captain-tag-top-5: 0;
  --utags-notag-captain-tag-left-5: -4px;

  --utags-notag-ul-disply: var(--utags-notag-ul-disply-1);
  --utags-notag-ul-float: var(--utags-notag-ul-float-1);
  --utags-notag-ul-height: var(--utags-notag-ul-height-1);
  --utags-notag-ul-width: var(--utags-notag-ul-width-1);
  --utags-notag-ul-position: var(--utags-notag-ul-position-1);
  --utags-notag-ul-top: var(--utags-notag-ul-top-1);
  --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-1);
  --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-1);
}
