#utags_layer {
  height: 200px;
  width: 200px;
  background-color: red;
}

.utags_ul {
  display: inline;
  list-style-type: none;
  margin: 0px;
  margin-left: 2px;
  padding: 0px;
  position: relative;
  /*vertical-align: text-bottom;*/
  line-height: 10px;
}

.utags_ul > li {
  display: inline-flex;
  align-items: center;
}

.utags_text_tag {
  border: 1px solid red;
  color: red !important;
  border-radius: 3px;
  padding: 1px 3px;
  margin: 0px 3px;
  font-size: 10px;
  line-height: 10px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

.utags_captain_tag,
.utags_captain_tag2 {
  border: none;
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  padding: 0;
  display: block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuNSA5QzguMzI4NDMgOSA5IDguMzI4NDMgOSA3LjVDOSA2LjY3MTU3IDguMzI4NDMgNiA3LjUgNkM2LjY3MTU3IDYgNiA2LjY3MTU3IDYgNy41QzYgOC4zMjg0MyA2LjY3MTU3IDkgNy41IDlaIiBmaWxsPSJibGFjayIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIgNEMyIDIuODk1NDMgMi44OTU0MyAyIDQgMkgxMS4xNzE2QzExLjcwMiAyIDEyLjIxMDcgMi4yMTA3MSAxMi41ODU4IDIuNTg1NzlMMjEuNTg1OCAxMS41ODU4QzIyLjM2NjggMTIuMzY2OCAyMi4zNjY4IDEzLjYzMzIgMjEuNTg1OCAxNC40MTQyTDE0LjQxNDIgMjEuNTg1OEMxMy42MzMyIDIyLjM2NjggMTIuMzY2OCAyMi4zNjY4IDExLjU4NTggMjEuNTg1OEwyLjU4NTc5IDEyLjU4NThDMi4yMTA3MSAxMi4yMTA3IDIgMTEuNzAyIDIgMTEuMTcxNlY0Wk0yMC4xNzE2IDEzTDExLjE3MTYgNEg0VjExLjE3MTZMMTMgMjAuMTcxNkwyMC4xNzE2IDEzWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==);
  background-size: contain;
}

.utags_captain_tag {
  opacity: 1%;
  position: absolute;
  top: 0px;
  left: -2px;
  padding: 0;
  margin: 0;
  border: none;
  width: 4px;
  height: 4px;
  font-size: 1px;
  background-color: #fff;
}

.utags_captain_tag:hover,
.utags_captain_tag2:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuNSA5QzguMzI4NDMgOSA5IDguMzI4NDMgOSA3LjVDOSA2LjY3MTU3IDguMzI4NDMgNiA3LjUgNkM2LjY3MTU3IDYgNiA2LjY3MTU3IDYgNy41QzYgOC4zMjg0MyA2LjY3MTU3IDkgNy41IDlaIiBmaWxsPSJyZWQiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yIDRDMiAyLjg5NTQzIDIuODk1NDMgMiA0IDJIMTEuMTcxNkMxMS43MDIgMiAxMi4yMTA3IDIuMjEwNzEgMTIuNTg1OCAyLjU4NTc5TDIxLjU4NTggMTEuNTg1OEMyMi4zNjY4IDEyLjM2NjggMjIuMzY2OCAxMy42MzMyIDIxLjU4NTggMTQuNDE0MkwxNC40MTQyIDIxLjU4NThDMTMuNjMzMiAyMi4zNjY4IDEyLjM2NjggMjIuMzY2OCAxMS41ODU4IDIxLjU4NThMMi41ODU3OSAxMi41ODU4QzIuMjEwNzEgMTIuMjEwNyAyIDExLjcwMiAyIDExLjE3MTZWNFpNMjAuMTcxNiAxM0wxMS4xNzE2IDRINFYxMS4xNzE2TDEzIDIwLjE3MTZMMjAuMTcxNiAxM1oiIGZpbGw9InJlZCIvPgo8L3N2Zz4K);
}

*:hover + .utags_ul .utags_captain_tag,
.utags_ul:hover .utags_captain_tag,
:not(a) + .utags_ul .utags_captain_tag {
  opacity: 100%;
  font-size: 10px;
  width: 12px;
  height: 12px;
}

/* Firefox does not support :has */
/* vimium extension */
html:has(#vimiumHintMarkerContainer) .utags_captain_tag {
  opacity: 99%;
  font-size: 10px;
  width: 12px;
  height: 12px;
}

:not(a) + .utags_ul .utags_captain_tag {
  position: relative;
}

[data-utags_list_node*=",标题党,"],
[data-utags_list_node*=",推广,"],
[data-utags_list_node*=",无聊,"],
[data-utags_list_node*=",忽略,"],
[data-utags_list_node*=",sb,"] {
  opacity: 10%;
}

[data-utags_list_node*=",已阅,"],
[data-utags_list_node*=",新用户,"] {
  opacity: 50%;
}

[data-utags_list_node*=",hide,"],
[data-utags_list_node*=",隐藏,"],
[data-utags_list_node*=",不再显示,"],
[data-utags_list_node*=",block,"] {
  opacity: 5%;
  display: none;
}

[data-utags_list_node*=",热门,"],
[data-utags_list_node*=",收藏,"],
[data-utags_list_node*=",关注,"],
[data-utags_list_node*=",稍后阅读,"] {
  background-image: linear-gradient(to right, #ffffff, #fefce8) !important;
  opacity: 100% !important;
  display: block !important;
}

[data-utags_list_node*=",热门,"],
[data-utags_list_node*=",收藏,"],
[data-utags_list_node*=",关注,"] {
  background-image: linear-gradient(to right, #ffffff, #fef2f2) !important;
}

[data-utags_list_node]:hover {
  opacity: 100% !important;
}

.utags_no_hide [data-utags_list_node*=","] {
  display: block !important;
}

.utags_no_opacity_effect [data-utags_list_node*=","] {
  opacity: 100% !important;
}
