:not(#utags_should_has_higher_specificity):not(
    #utags_should_has_higher_specificity
  ) {
  #utags_layer {
    height: 200px;
    width: 200px;
    background-color: red;
  }

  .utags_ul {
    box-sizing: border-box !important;
    display: inline !important;
    overflow: visible;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: text-bottom !important;
    line-height: normal !important;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;

    > li {
      box-sizing: border-box !important;
      display: inline-flex !important;
      align-items: center !important;
      float: none !important;
      overflow: visible;
      width: unset !important;
      height: 14px !important;
      border: none !important;
      padding: 0 !important;
      margin: 0 !important;

      &:first-child .utags_text_tag {
        margin-left: 3px !important;
      }
      &:last-child .utags_text_tag {
        margin-right: 3px !important;
      }

      &::before,
      &::after {
        content: none;
      }
    }

    .utags_text_tag {
      box-sizing: border-box !important;
      display: block !important;
      border: 1px solid red;
      color: red !important;
      border-radius: 3px !important;
      padding: 1px 3px !important;
      margin: 0 1px !important;
      font-size: 10px !important;
      letter-spacing: 0 !important;
      line-height: 1 !important;
      height: 14px !important;
      width: unset !important;
      font-weight: normal !important;
      text-decoration: none !important;
      text-align: center !important;
      text-shadow: none !important;
      min-width: unset !important;
      min-height: unset !important;
      max-width: unset !important;
      max-height: unset !important;
      cursor: pointer;
      background: unset !important;
      background-color: unset !important;
      /* Fix v2ex polish start */
      pointer-events: auto;
      /* Fix v2ex polish end */
    }

    .utags_text_tag[data-utags_tag]::before {
      content: attr(data-utags_tag);
      display: block;
      font-size: 10px;
      line-height: 1;
      height: 10px;
    }

    .utags_captain_tag,
    .utags_captain_tag2 {
      width: 14px !important;
      height: 14px !important;
      padding: 1px 0 0 1px !important;
      background: none !important;
      color: #ff6361 !important;
      border: none !important;

      &::before {
        content: none !important;
      }

      svg {
        fill: currentColor !important;
        vertical-align: -3px;
      }

      * {
        color: inherit !important;
        fill: currentColor !important;
      }
    }

    .utags_captain_tag {
      opacity: 1%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 !important;
      margin: 0 !important;
      width: 4px !important;
      height: 4px !important;
      font-size: 1px !important;
      background-color: #ffffffb3 !important;
      transition: all 0s 0.3s !important;
    }

    .utags_captain_tag:hover,
    .utags_captain_tag:focus,
    .utags_captain_tag2:hover,
    .utags_captain_tag2:focus {
      color: #256cf1 !important;
    }

    &.notag {
      margin: 0 !important;

      > li {
        position: relative !important;
      }
    }
  }

  .utags_captain_tag:focus,
  *:hover + .utags_ul .utags_captain_tag,
  .utags_ul:hover .utags_captain_tag,
  .utags_show_all .utags_captain_tag,
  :not(a):not([data-utags_node_type="link"]) + .utags_ul .utags_captain_tag {
    opacity: 100%;
    width: 22px !important;
    height: 22px !important;
    padding: 5px 4px 4px 5px !important;
    transition: all 0s 0.1s !important;
    /* Fix v2ex 超级增强 start */
    z-index: 90;
    /* Fix v2ex 超级增强 end */
  }

  .utags_hide_all .utags_captain_tag,
  .utags_show_all .utags_captain_tag {
    transition: unset !important;
  }

  :not(a):not([data-utags_node_type="link"]) + .utags_ul .utags_captain_tag {
    position: relative;
  }

  [data-utags_list_node*=",标题党,"],
  [data-utags_list_node*=",推广,"],
  [data-utags_list_node*=",无聊,"],
  [data-utags_list_node*=",忽略,"],
  [data-utags_list_node*=",ignore,"],
  [data-utags_list_node*=",clickbait,"],
  [data-utags_list_node*=",promotion,"],
  [data-utags_list_node*=",sb,"] {
    opacity: 10%;
  }

  [data-utags_list_node*=",已阅,"],
  [data-utags_list_node*=",新用户,"] {
    opacity: 50%;
  }

  [data-utags_list_node*=",hide,"],
  [data-utags_list_node*=",隐藏,"],
  [data-utags_list_node*=",不再显示,"],
  [data-utags_list_node*=",block,"] {
    opacity: 5%;
    display: none;
  }

  [data-utags_list_node*=",热门,"],
  [data-utags_list_node*=",收藏,"],
  [data-utags_list_node*=",关注,"],
  [data-utags_list_node*=",稍后阅读,"] {
    background-image: linear-gradient(to right, #ffffff, #fefce8) !important;
    opacity: 100% !important;
    display: var(--utags-list-node-display) !important;
  }

  [data-utags_list_node*=",热门,"],
  [data-utags_list_node*=",收藏,"],
  [data-utags_list_node*=",关注,"] {
    background-image: linear-gradient(to right, #ffffff, #fef2f2) !important;
  }

  [data-utags_list_node]:hover {
    opacity: 100% !important;
  }
}

.utags_no_hide [data-utags_list_node*=","] {
  display: var(--utags-list-node-display) !important;
}

.utags_no_opacity_effect [data-utags_list_node*=","] {
  opacity: 100% !important;
}

:root {
  --utags-list-node-display: block;
}
