:not(#a):not(#b):not(#c) {
  .usernameWrap {
    .utags_ul_0 .utags_captain_tag {
      left: -20px;
    }
    .utags_ul_1::before {
      content: "";
      display: block;
    }
  }

  .vidTitleWrapper .title {
    .utags_ul_0 {
      display: block !important;
      height: 0;
      position: absolute;
      top: 0;

      .utags_captain_tag {
        background-color: #ffffffdd !important;
      }
    }

    .utags_ul_1 {
      display: block !important;
      height: 0;
      position: absolute;
      bottom: 0;
    }
  }

  ul.videos .thumbnail-info-wrapper {
    position: relative;
    .title {
      .utags_ul_0 {
        display: block !important;
        height: 0;
        position: absolute;
        top: 0;

        .utags_captain_tag {
          background-color: #ffffffdd !important;
        }
      }

      .utags_ul_1 {
        display: block !important;
        height: 0;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
