:not(#a):not(#b):not(#c) {
  /* default */
  a + {
    .utags_ul_0 {
      /* right-center */
      object-position: 200% 50%;
      --utags-notag-ul-disply: var(--utags-notag-ul-disply-5);
      --utags-notag-ul-height: var(--utags-notag-ul-height-5);
      --utags-notag-ul-position: var(--utags-notag-ul-position-5);
      --utags-notag-ul-top: var(--utags-notag-ul-top-5);
      --utags-notag-captain-tag-top: var(--utags-notag-captain-tag-top-5);
      --utags-notag-captain-tag-left: var(--utags-notag-captain-tag-left-5);
      --utags-captain-tag-background-color: var(
        --utags-captain-tag-background-color-overlap
      );
    }
    .utags_ul_1 {
      background-color: var(--utags-captain-tag-background-color) !important;
      border-radius: 3px !important;
      --utags-emoji-tag-background-color: #fff0;
    }
  }

  /* 列表页面 - https://www.dmm.co.jp/dc/doujin/ */
  .mainList__item {
    a + {
      .utags_ul_0 {
        object-position: 0% 100%;
        --utags-notag-captain-tag-top: -90px;
        --utags-notag-captain-tag-left: 4px;
      }
      .utags_ul_1 {
        margin-top: 6px !important;
        width: 100%;
      }
    }
  }

  /* 列表页面 - https://www.dmm.co.jp/dc/doujin/ */
  .pickup .fn-responsiveImg {
    a + {
      .utags_ul_0 {
        object-position: 0% 100%;
        --utags-notag-captain-tag-top: -70px;
        --utags-notag-captain-tag-left: 4px;
      }
      .utags_ul_1 {
        margin-top: 6px !important;
        width: 100%;
      }
    }
  }

  /* 作品一覧 - https://www.dmm.co.jp/dc/doujin/-/list/=/sort=date/*/
  /* 详细页产品区域 */
  .productList {
    .tileListTtl__txt {
      height: unset;
    }
    .tileListTtl__txt--author {
      white-space: normal;
    }
  }

  /* 详细页推荐区域 */
  #l-areaRecommendProduct {
    a + {
      .utags_ul_0 {
        object-position: 0% 100%;
        --utags-notag-captain-tag-top: -80px;
        --utags-notag-captain-tag-left: 4px;
      }
      .utags_ul_1 {
        margin-top: 6px !important;
        width: 100%;
      }
    }
  }
}
